<!DOCTYPE html>
<html>
<head>
    <title>QR Code Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>QR Code Generator</h1>
    <form method="POST" action="/generate_qr_code">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url"><br><br>
        <label for="filename">Enter Filename:</label>
        <input type="text" id="filename" name="filename"><br><br>
        <button type="submit">Generate QR Code</button>
    </form>
    <img id="qr_code" src="">
    <footer>
        <p>Created by <a href="https://github.com/ShivamGoyal03/" target="_blank" rel="noopener noreferrer">Shivam Goyal</a></p>
    </footer>
</body>
</html>
